Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

refactor(renovate): remove explicit schedule configurations
  renovate.json
Owners: @radarr/security-team

chore(deps): simplify renovate grouping strategy
  renovate.json
Owners: @radarr/security-team

chore(deps): clean up frontend dependencies and pin versions
  go.work.sum
  web/frontend/package-lock.json
  web/frontend/package.json
Owners: @radarr/maintainers

chore(deps): refine renovate automerge configuration
  renovate.json
Owners: @radarr/security-team

docs: update PostgreSQL minimum version requirement to 16+
  CLAUDE.md
  README.md
  docs/INSTALLATION.md
Owners: @radarr/maintainers, @radarr/docs-team

chore(docker): remove Alpine distro version from image tags
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.dev
  deployment/docker-compose.prod.yml
  docker-compose.yml
Owners: @radarr/devops-team, @radarr/maintainers

unpin alpine
  Dockerfile.frontend
Owners: @radarr/maintainers

chore(renovate): add version grouping rules for consistency
  renovate.json
Owners: @radarr/security-team

chore(renovate): add version grouping rules for consistency (#258)
  renovate.json
Owners: @radarr/security-team

perf(ci): optimize CI/CD pipeline for 20-30% performance improvement
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(ci): address code review comments for CI optimizations
  .github/workflows/ci.yml
Owners: @radarr/devops-team

perf(ci): Optimize CI/CD pipeline for 20-30% performance improvement (#261)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(docker): do not exclude artifacts directory in .dockerignore
  .dockerignore
Owners: @radarr/devops-team

perf(ci): implement round 2 performance optimizations based on round 1 learnings
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): address code review feedback for round 2 optimizations
  .github/workflows/ci.yml
Owners: @radarr/devops-team

perf(ci): Round 2 performance optimizations based on learnings from Round 1 (#263)
  .github/workflows/ci.yml
Owners: @radarr/devops-team

manual node bump
  Dockerfile.frontend
  docker-compose.yml
Owners: @radarr/maintainers, @radarr/devops-team

fix: output version to stdout instead of stderr
  cmd/radarr/main.go
Owners: @radarr/go-team

fix(security): add bounds checking to formatBytes functions
  go.work.sum
  internal/services/notification_service.go
  internal/services/notifications/template.go
Owners: @radarr/maintainers, @radarr/go-team

fix(security): patch quic-go CVE-2025-64702 (GO-2025-4233)
  go.mod
  go.sum
  go.work.sum
Owners: @radarr/go-team, @radarr/maintainers

refactor: consolidate linting configuration for consistency
  .golangci-ci.yml
  .golangci.yml
  .markdownlint.json
  CLAUDE.md
  Makefile
  internal/api/collection_handlers.go
  internal/api/config_integration_test.go
  internal/api/doc.go
  internal/api/handlers.go
  internal/api/health_handlers.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/wanted_handlers.go
Owners: @radarr/maintainers, @radarr/devops-team, @radarr/go-team

fix: correct golangci-lint output.formats config syntax
  .golangci.yml
Owners: @radarr/maintainers

fix(ci): improve workflow linting and fix shellcheck issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(deps): add ecosystem groupings and lockfile maintenance to Renovate config
  renovate.json
Owners: @radarr/security-team

fix(ci): use exact lockfile path for npm cache
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): scope go-build cache key per ref to prevent race conditions
  .github/workflows/ci.yml
Owners: @radarr/devops-team

refactor(ci): split quality checks from cross-platform builds
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): make change detection filters more explicit
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): include go.work.sum in build cache key hash
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): optimize caching and split quality from builds (#419)
  .github/workflows/ci.yml
Owners: @radarr/devops-team

chore: set renovate timezone to America/Chicago
  renovate.json
Owners: @radarr/security-team

chore: schedule Renovate to Mondays and improve PR grouping
  renovate.json
Owners: @radarr/security-team

chore: pin dependency versions for Renovate management
  Dockerfile.dev
  Makefile
  deployment/docker-compose.prod.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  renovate.json
Owners: @radarr/maintainers, @radarr/devops-team, @radarr/security-team

chore(deps): migrate from MailHog to Mailpit for email testing
  DEVELOPMENT.md
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/DOCKER-COMPOSE-GUIDE.md
  scripts/dev-monitor.sh
Owners: @radarr/docs-team, @radarr/maintainers, @radarr/devops-team

fix: align container name and use configurable port for Mailpit
  scripts/dev-monitor.sh
Owners: @radarr/maintainers

chore(deps): migrate from MailHog to Mailpit for email testing (#456)
  DEVELOPMENT.md
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/DOCKER-COMPOSE-GUIDE.md
  scripts/dev-monitor.sh
Owners: @radarr/docs-team, @radarr/maintainers, @radarr/devops-team

chore(deps): add smart grouping and rate limiting to Renovate config
  renovate.json
Owners: @radarr/security-team

ci: reduce GHA build time by removing non-blocking and redundant steps
  .github/workflows/ci.yml
Owners: @radarr/devops-team

chore: consolidate Renovate schedule and grouping
  renovate.json
Owners: @radarr/security-team

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers
