Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

fix(deps): resolve Renovate branch update failures with built-in GitHub Actions preset
  renovate.json
Owners: @radarr/security-team

fix(deps): simplify Renovate config to resolve persistent branch update failures
  renovate.json
Owners: @radarr/security-team

fix(deps): shorten GitHub Actions group name to resolve Renovate branch conflicts
  renovate.json
Owners: @radarr/security-team

feat(deps): update GitHub Actions and Docker services to latest versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docker-compose.yml
Owners: @radarr/devops-team

feat(ci): remove SHA pinning from GitHub Actions and update to latest versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

feat(ci): remove SHA pinning from GitHub Actions and update to latest versions
  .github/workflows/ci.yml
  docker-compose.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

feat(monitoring): complete version variable implementation for all monitoring services
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.artifacts
  Dockerfile.dev
  deployment/docker-compose.monitoring.yml
  docker-compose.yml
Owners: @radarr/devops-team, @radarr/maintainers

fix(ci): hardcode database versions in services section
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): resolve Renovate configuration issues for dependency management
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): resolve GitHub Actions version validation and Renovate configuration issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

chore(deps): pin GitHub Actions to latest patch versions for Renovate compatibility
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

refactor(docker): remove build arguments and hardcode image versions
  Dockerfile
  Dockerfile.artifacts
  Dockerfile.dev
  Dockerfile.frontend
Owners: @radarr/devops-team, @radarr/maintainers

docs: update PostgreSQL version references to v17-alpine
  MIGRATION.md
  docs/DEVELOPER_GUIDE.md
  docs/RELEASE_v0.9.0-alpha.md
  docs/SECURITY_HARDENING_PRODUCTION.md
Owners: @radarr/docs-team

refactor(docker): standardize image tags across all compose files
  deployment/docker-compose.monitoring.yml
  deployment/docker-compose.prod.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Owners: @radarr/maintainers, @radarr/devops-team

chore: clean up obsolete backup files and Renovate comments
  .backups/docker-compose/docker-compose.dev.yml.backup
  .backups/docker-compose/docker-compose.test.yml.backup
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/maintainers, @radarr/devops-team

refactor(ci,docker): simplify configuration by hardcoding PostgreSQL version
  .github/workflows/ci.yml
  deployment/docker-compose.prod.yml
Owners: @radarr/devops-team, @radarr/maintainers

chore(ci): remove redundant Docker Compose digest pinning rule
  renovate.json
Owners: @radarr/security-team

chore(ci): disable digest pinning for Dockerfile major updates
  renovate.json
Owners: @radarr/security-team

chore(deps): update monitoring stack docker images
  deployment/docker-compose.monitoring.yml
Owners: @radarr/maintainers

chore(deps): update adminer docker tag to v5.3.0
  docker-compose.yml
Owners: @radarr/devops-team

chore(ci): enable digest pinning for Dockerfile major updates
  renovate.json
Owners: @radarr/security-team

chore(ci): standardize Renovate configuration and enable automerge
  renovate.json
Owners: @radarr/security-team

chore(ci): fix Renovate digest pinning configuration
  renovate.json
Owners: @radarr/security-team

chore(ci): refactor Renovate configuration to avoid preset conflicts
  renovate.json
Owners: @radarr/security-team

fix(ci): update MariaDB image from 12.1 to 11.6 to resolve manifest error
  .github/workflows/ci.yml
Owners: @radarr/devops-team

chore: standardize MariaDB version to 12.0.2 across project
  .github/workflows/ci.yml
  docker-compose.yml
  docs/INSTALLATION.md
Owners: @radarr/devops-team, @radarr/docs-team

fix(ci): improve linting tools cache configuration
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): improve yamllint configuration and workflow formatting
  .github/workflows/release.yml
  .yamllint.yml
Owners: @radarr/devops-team, @radarr/maintainers

fix(lint): resolve JSONLint and ShellCheck violations for improved code quality
  .github/scripts/version-analyzer.sh
  deployment/deploy.sh
  scripts/dev-environment.sh
  scripts/dev-setup.sh
  scripts/test-runner.sh
  web/frontend/tsconfig.app.json
  web/frontend/tsconfig.node.json
Owners: @radarr/devops-team, @radarr/maintainers

fix(lint): remove redundant key-duplicates rule from yamllint config
  .yamllint.yml
Owners: @radarr/maintainers

chore(deps): disable auto-merge for all dependency updates
  renovate.json
Owners: @radarr/security-team

chore(renovate): enhance Go module handling with automated sync tasks
  renovate.json
Owners: @radarr/security-team

fix(renovate): remove postUpgradeTasks with disallowed commands
  renovate.json
Owners: @radarr/security-team

chore(renovate): add :golang preset for enhanced Go module management
  renovate.json
Owners: @radarr/security-team

fix(deps): resolve transitive dependency conflicts after viper update
  go.mod
  go.sum
Owners: @radarr/go-team

fix(renovate): correct invalid :golang preset to :gomod
  renovate.json
Owners: @radarr/security-team

feat(renovate): enhance configuration with automation and security presets
  renovate.json
Owners: @radarr/security-team

ci: update Go and Node versions with renovate annotations
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

build: standardize Docker Compose service image tags
  deployment/docker-compose.prod.yml
  docker-compose.yml
Owners: @radarr/maintainers, @radarr/devops-team

build: standardize Docker base image tags without SHA pins
  Dockerfile
  Dockerfile.artifacts
  Dockerfile.dev
  Dockerfile.frontend
Owners: @radarr/devops-team, @radarr/maintainers

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers
