Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers

fix: implement cross-platform disk space checking for Windows compatibility
  internal/services/file_organization_service.go
  internal/services/file_organization_service_unix.go
  internal/services/file_organization_service_windows.go
Owners: @radarr/go-team

fix(build): resolve cross-platform syscall compatibility for FreeBSD
  go.mod
  internal/services/file_organization_service_freebsd.go
Owners: @radarr/go-team

fix(database): make migrations idempotent to resolve CI test failures
  migrations/mysql/003_file_organization.up.sql
  migrations/postgres/003_file_organization.up.sql
Owners: @radarr/database-team

perf(ci): optimize workflows for 85% cost reduction and 60% speed improvement
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.work.sum
Owners: @radarr/devops-team, @radarr/maintainers

fix(ci): correct GitHub Actions cache version reference
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix: enable database tests to run in CI environments
  internal/services/test_helpers.go
Owners: @radarr/go-team

fix: add database migrations to test setup for CI database tests
  internal/database/database.go
  internal/database/database_test.go
  internal/services/test_helpers.go
Owners: @radarr/go-team

fix: resolve foreign key constraint errors in database migrations
  migrations/mysql/001_complete_schema.down.sql
  migrations/mysql/001_complete_schema.up.sql
  migrations/mysql/004_notification_enhancements.down.sql
  migrations/mysql/004_notification_enhancements.up.sql
  migrations/postgres/004_notification_enhancements.up.sql
Owners: @radarr/database-team

fix: correct column name inconsistencies in PostgreSQL migration 003
  migrations/postgres/003_file_organization.up.sql
Owners: @radarr/database-team

fix: remove DELIMITER syntax from MySQL migration 004
  migrations/mysql/004_notification_enhancements.up.sql
Owners: @radarr/database-team

fix: remove duplicate trigger creation in PostgreSQL migration 003
  migrations/postgres/003_file_organization.down.sql
  migrations/postgres/003_file_organization.up.sql
Owners: @radarr/database-team

fix: add missing quality_definitions table to base schema migrations
  migrations/mysql/001_complete_schema.down.sql
  migrations/mysql/001_complete_schema.up.sql
  migrations/postgres/001_complete_schema.down.sql
  migrations/postgres/001_complete_schema.up.sql
Owners: @radarr/database-team

fix: add missing language column to quality_profiles table
  migrations/mysql/001_complete_schema.up.sql
  migrations/postgres/001_complete_schema.up.sql
Owners: @radarr/database-team

feat: pin GitHub Actions dependencies to minor versions with SHA pinning
  .github/workflows/ci.yml
  .github/workflows/release.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

feat: enhance Go module dependency management with advanced Renovate configuration
  renovate.json
Owners: @radarr/security-team

feat: pin all dependencies to patch versions with Renovate handling SHA/digests
  .github/workflows/ci.yml
  .github/workflows/release.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

fix: resolve renovate configuration validation errors
  renovate.json
Owners: @radarr/security-team

deps: update all dependencies to latest patch versions
  go.mod
  go.sum
Owners: @radarr/go-team

deps: update GitHub Actions to latest patch versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

deps: update remaining GitHub Actions to latest patch versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix: resolve CI test failures for collection and health services
  .github/workflows/ci.yml
  internal/services/collection_service.go
  internal/services/health_issue_service_test.go
Owners: @radarr/devops-team, @radarr/go-team

fix: resolve GitHub Actions template validation error
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat: implement conditional database service deployment in CI
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix: add required permissions for SARIF upload in CI workflow
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat: add V2 database models with simplified validation
  internal/models/collection_v2.go
  internal/models/health_v2.go
  internal/models/movie_v2.go
  internal/models/task_v2.go
Owners: @radarr/go-team

feat: add database migrations for complete schema refactor
  migrations/mysql/010_complete_schema_refactor.down.sql
  migrations/mysql/010_complete_schema_refactor.up.sql
  migrations/postgres/010_complete_schema_refactor.down.sql
  migrations/postgres/010_complete_schema_refactor.up.sql
Owners: @radarr/database-team

refactor: update service layer and API handlers for V2 model compatibility
  .github/workflows/ci.yml
  go.work.sum
  internal/api/collection_handlers.go
  internal/api/handlers.go
  internal/api/health_handlers.go
  internal/services/collection_service.go
  internal/services/collection_service_test.go
  internal/services/container.go
  internal/services/health_interfaces.go
  internal/services/health_service.go
  internal/services/health_service_test.go
  internal/services/health_task_handler.go
  internal/services/task_handlers.go
  internal/services/task_handlers_test.go
  internal/services/task_service.go
  internal/services/task_service_test.go
  renovate.json
Owners: @radarr/devops-team, @radarr/maintainers, @radarr/go-team, @radarr/security-team

fix: resolve linting issues and update CI configuration
  .github/workflows/ci.yml
  internal/services/health_service.go
  internal/services/task_service.go
  renovate.json
Owners: @radarr/devops-team, @radarr/go-team, @radarr/security-team

chore(config): migrate renovate config to use managerFilePatterns
  renovate.json
Owners: @radarr/security-team

fix(renovate): improve Docker image regex to handle SHA256 digests
  renovate.json
Owners: @radarr/security-team

fix(renovate): improve VERSION regex to handle multiline format
  renovate.json
Owners: @radarr/security-team

fix(renovate): use standard regex pattern for VERSION variables
  .github/workflows/ci.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

fix(renovate): simplify Go version detection with direct regex
  .github/workflows/ci.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

fix(renovate): update Go version detection configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

docs: add comprehensive project documentation and guides
  CHANGELOG.md
  DEVELOPMENT.md
  MIGRATION_FIXES_REPORT.md
  docs/ADVANCED_FEATURES.md
  docs/API_COMPATIBILITY.md
  docs/API_ENDPOINTS.md
  docs/API_INTEGRATION_README.md
  docs/AUTOMATION_AND_TEMPLATES.md
  docs/CONFIGURATION.md
  docs/DEVELOPER_GUIDE.md
  docs/DEVELOPER_INTEGRATION_GUIDE.md
  docs/INSTALLATION.md
  docs/MONITORING_AND_ALERTING.md
  docs/OPERATIONS_INDEX.md
  docs/PERFORMANCE_TUNING.md
  docs/PRODUCTION_DEPLOYMENT.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/RELEASE_NOTES_v0.9.0-alpha.md
  docs/SECURITY_HARDENING.md
  docs/automation-examples.md
  docs/integration-guide.md
  docs/integration-patterns.md
  docs/openapi.yaml
  docs/troubleshooting-guide.md
Owners: @radarr/docs-team, @radarr/maintainers

feat: enhance core system infrastructure and testing capabilities
  CLAUDE.md
  Makefile
  internal/models/health.go
  internal/models/notification.go
  internal/services/file_organization_service.go
  internal/services/health_service.go
  internal/services/movie_service_bench_test.go
  internal/services/test_helpers.go
  internal/testhelpers/README.md
  internal/testhelpers/containers.go
  internal/testhelpers/fixtures.go
Owners: @radarr/maintainers, @radarr/devops-team, @radarr/go-team, @radarr/docs-team

fix: resolve database migration dependencies and schema issues
  migrations/mysql/009_quality_definitions_fix.down.sql
  migrations/mysql/009_quality_definitions_fix.up.sql
  migrations/mysql/010_complete_schema_refactor.down.sql.broken
  migrations/mysql/010_complete_schema_refactor.up.sql.broken
  migrations/postgres/009_quality_definitions_fix.down.sql
  migrations/postgres/009_quality_definitions_fix.up.sql
  migrations/postgres/010_complete_schema_refactor.down.sql.broken
  migrations/postgres/010_complete_schema_refactor.up.sql.broken
Owners: @radarr/database-team

feat: enhance development environment with comprehensive tooling
  Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.test.yml
  scripts/database/backup_restore.sh
  scripts/database/disaster_recovery.md
  scripts/database/migration_validator.sh
  scripts/database/monitoring.sh
  scripts/database/user_management.sh
  scripts/dev-setup.sh
  scripts/grafana-datasources.yml
  scripts/mariadb-init.sql
  scripts/postgres-init.sql
  scripts/prometheus.yml
Owners: @radarr/maintainers, @radarr/docs-team

security: eliminate hardcoded credentials and implement GitGuardian compliance
  .gitguardian.yaml
  README.md
  SECURITY_AUDIT_RESULTS.md
  SECURITY_CREDENTIALS.md
  config.ci.mariadb.yml
  config.ci.postgres.yml
  config.health.example.yaml
  config.yaml
  docs/CONFIGURATION.md
  go.work.sum
  scripts/dev-setup.sh
Owners: @radarr/maintainers, @radarr/docs-team, @radarr/config-team

refactor: fix linting issues and improve code quality
  internal/services/test_helpers.go
  internal/testhelpers/containers.go
Owners: @radarr/go-team
