Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

docs(dev): add comprehensive developer architecture guide
  DEVELOPER_GUIDE.md
Owners: @radarr/docs-team

ops: add comprehensive production deployment and operations guides
  deployment/deploy.sh
  deployment/docker-compose.monitoring.yml
  deployment/docker-compose.prod.yml
  deployment/scripts/backup-database.sh
  deployment/scripts/cleanup-backups.sh
  docs/API_INTEGRATION_PRACTICAL_EXAMPLES.md
  docs/MONITORING_SETUP.md
  docs/OPERATIONS_DEPLOYMENT_README.md
  docs/PERFORMANCE_TUNING_PRODUCTION.md
  docs/SECURITY_HARDENING_PRODUCTION.md
Owners: @radarr/maintainers, @radarr/docs-team

test: enhance testing infrastructure and code quality
  internal/services/movie_service_bench_test.go
  internal/services/test_helpers.go
  internal/testhelpers/database_manager.go
  internal/testhelpers/examples_test.go
  internal/testhelpers/seed_data.go
  internal/testhelpers/test_utilities.go
Owners: @radarr/go-team

project: mark Phase 1 complete - Documentation and User Experience
  PROJECT_IMPLEMENTATION_PLAN_WITH_PROMPTS.md
  PROJECT_ROADMAP.md
Owners: @radarr/docs-team

docs(project): mark Phase 2 complete - Frontend Foundation achieved
  PROJECT_IMPLEMENTATION_PLAN_WITH_PROMPTS.md
  PROJECT_ROADMAP.md
Owners: @radarr/docs-team

feat(deps): enhance Renovate config with npm dependency management
  renovate.json
Owners: @radarr/security-team

feat(build): improve frontend build integration in Makefile
  Makefile
Owners: @radarr/devops-team

feat(docker): remove deprecated version fields for Docker Compose v2 compatibility
  deployment/docker-compose.monitoring.yml
  deployment/docker-compose.prod.yml
Owners: @radarr/maintainers

feat(docker): consolidate Docker Compose architecture with profiles and smart overrides
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Owners: @radarr/maintainers, @radarr/devops-team

feat(dev): enhance development workflow with consolidated Make commands and Dockerfile improvements
  Dockerfile.dev
  Makefile
Owners: @radarr/maintainers, @radarr/devops-team

docs(docker): add comprehensive Docker Compose consolidation guide and update project documentation
  CLAUDE.md
  docs/DOCKER-COMPOSE-GUIDE.md
Owners: @radarr/maintainers, @radarr/docs-team

feat(docker): add backup system and test configuration for Docker Compose migration
  .backups/docker-compose/docker-compose.dev.yml.backup
  .backups/docker-compose/docker-compose.test.yml.backup
  test-config.yaml
Owners: @radarr/maintainers

fix(docker): resolve network configuration conflict in docker-compose.override.yml
  docker-compose.override.yml
Owners: @radarr/maintainers

fix(dev): resolve Air hot reload and PostgreSQL authentication issues
  docker-compose.override.yml
  scripts/air-build.sh
Owners: @radarr/maintainers

feat(frontend): integrate React development server with Docker Compose
  docker-compose.override.yml
  docker-compose.yml
Owners: @radarr/maintainers, @radarr/devops-team

fix(frontend): resolve TypeScript Middleware import error
  web/frontend/src/store/middleware/websocketMiddleware.ts
Owners: @radarr/maintainers

feat(frontend): add development mode authentication bypass
  web/frontend/src/store/slices/authSlice.ts
Owners: @radarr/maintainers

fix(build): correct Docker Compose filename references in Makefile
  Makefile
Owners: @radarr/devops-team

feat(db): add migration 010 to formalize tasks table schema
  migrations/postgres/010_tasks_schema_fixes.down.sql
  migrations/postgres/010_tasks_schema_fixes.up.sql
Owners: @radarr/database-team

feat(db): add migration 011 to formalize app_config table
  migrations/postgres/011_app_config_table.down.sql
  migrations/postgres/011_app_config_table.up.sql
Owners: @radarr/database-team

fix(ci): resolve PostgreSQL migration and configuration issues
  config.ci.mariadb.yml
  config.ci.postgres.yml
  migrations/postgres/010_tasks_schema_fixes.up.sql
Owners: @radarr/maintainers, @radarr/database-team

fix(migration): drop default before PostgreSQL JSON column conversion
  migrations/postgres/010_tasks_schema_fixes.up.sql
Owners: @radarr/database-team

docs(claude): optimize CLAUDE.md documentation by 60% for improved performance
  CLAUDE.md
Owners: @radarr/maintainers

feat(settings): complete Phase 3 Sprint 3.1 - Settings and Configuration
  PROJECT_ROADMAP.md
  internal/api/config_integration_test.go
  internal/api/handlers.go
  internal/api/server.go
  internal/models/app_config.go
  internal/services/config_service.go
  internal/services/container.go
  web/frontend/src/components/AppRouter.tsx
  web/frontend/src/components/layout/Sidebar.tsx
  web/frontend/src/components/settings/GeneralSettings.tsx
  web/frontend/src/components/settings/MediaManagementSettings.tsx
  web/frontend/src/components/settings/README.md
  web/frontend/src/components/settings/SettingsActions.module.css
  web/frontend/src/components/settings/SettingsActions.tsx
  web/frontend/src/components/settings/SettingsField.module.css
  web/frontend/src/components/settings/SettingsField.tsx
  web/frontend/src/components/settings/SettingsForm.module.css
  web/frontend/src/components/settings/SettingsForm.tsx
  web/frontend/src/components/settings/SettingsSection.module.css
  web/frontend/src/components/settings/SettingsSection.tsx
  web/frontend/src/components/settings/index.ts
  web/frontend/src/hooks/useNotification.ts
  web/frontend/src/pages/SettingsPage.module.css
  web/frontend/src/pages/SettingsPage.tsx
  web/frontend/src/store/api/radarrApi.ts
Owners: @radarr/docs-team, @radarr/go-team, @radarr/maintainers

feat(ci): enhance CI workflow with comprehensive linting integration
  .github/workflows/ci.yml
  docs/PRE_COMMIT_HOOKS.md
Owners: @radarr/devops-team, @radarr/docs-team

fix(ci): update actions/cache to v4.1.2 to resolve deprecation
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): update actions/cache to v4.2.4 (latest)
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat(deps): add comprehensive Python dependency management to Renovate
  .github/workflows/ci.yml
  Makefile
  renovate.json
  requirements.txt
Owners: @radarr/devops-team, @radarr/security-team, @radarr/maintainers

refactor(ci): optimize workflow by using system yamllint instead of Python dependencies
  .github/workflows/ci.yml
  renovate.json
  requirements.txt
Owners: @radarr/devops-team, @radarr/security-team, @radarr/maintainers

refactor(ci): remove shellcheck from apt-get install as it's pre-installed
  .github/workflows/ci.yml
Owners: @radarr/devops-team

refactor(ci): remove unnecessary apt package installation
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat(deps): upgrade Go version to 1.25 and update tooling
  .golangci.yml
  .pre-commit-config.yaml
  go.mod
  go.work
Owners: @radarr/maintainers, @radarr/go-team

style: standardize file endings and formatting
  .markdownlint.json
  .yamllint.yml
  go.work.sum
  migrations/mysql/009_quality_definitions_fix.down.sql
  migrations/mysql/009_quality_definitions_fix.up.sql
  migrations/postgres/009_quality_definitions_fix.down.sql
  migrations/postgres/009_quality_definitions_fix.up.sql
  scripts/database/backup_restore.sh
  scripts/database/migration_validator.sh
  scripts/database/monitoring.sh
  scripts/database/user_management.sh
  scripts/grafana-datasources.yml
  scripts/mariadb-init.sql
  scripts/postgres-init.sql
  scripts/prometheus.yml
  web/frontend/src/components/settings/GeneralSettings.tsx
  web/frontend/src/components/settings/MediaManagementSettings.tsx
  web/frontend/src/components/settings/SettingsField.tsx
  web/frontend/src/components/settings/SettingsForm.tsx
  web/frontend/src/components/settings/useSettingsForm.ts
Owners: @radarr/maintainers, @radarr/database-team

perf(ci): optimize linting system for 70-80% faster CI builds
  .github/workflows/ci.yml
  .golangci-ci.yml
  LINTING-OPTIMIZATIONS.md
  Makefile
  scripts/lint-performance-report.sh
Owners: @radarr/devops-team, @radarr/maintainers, @radarr/docs-team

fix(ci): resolve GitHub Actions workflow failures
  .github/workflows/release.yml
  .yamllint.yml
  config.ci.mariadb.yml
  config.ci.postgres.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/openapi-complete.yaml
  docs/openapi.yaml
  scripts/grafana-datasources.yml
  scripts/prometheus.yml
Owners: @radarr/devops-team, @radarr/maintainers

perf(ci): streamline caching strategy by eliminating redundant cache actions
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix(ci): resolve CI failures after cache optimization
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/ci.yml
  go.mod
  go.sum
  scripts/prometheus.yml
Owners: @radarr/devops-team, @radarr/go-team, @radarr/maintainers

fix(ci): complete CI restoration with final dependency and linting fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
  go.sum
  scripts/prometheus.yml
Owners: @radarr/devops-team, @radarr/go-team, @radarr/maintainers

fix(ci): add frontend dependency installation for ESLint support
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat(deps): add comprehensive linting toolchain dependencies
  go.mod
  go.sum
  go.work.sum
Owners: @radarr/go-team, @radarr/maintainers

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers
