Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers

fix: remove SHA pinning from docker-compose and exclude from renovate
  docker-compose.yml
  renovate.json
Owners: @radarr/devops-team, @radarr/security-team

fix: pin Alpine base image to version 3.21
  Dockerfile
Owners: @radarr/devops-team

feat: migrate from lib/pq to pgx and sqlx to sqlc for enhanced performance
  CLAUDE.md
  go.mod
  go.sum
  internal/database/database.go
  internal/database/generated/mysql/db.go
  internal/database/generated/mysql/models.go
  internal/database/generated/mysql/movies.sql.go
  internal/database/generated/mysql/quality_profiles.sql.go
  internal/database/generated/mysql/querier.go
  internal/database/generated/postgres/db.go
  internal/database/generated/postgres/models.go
  internal/database/generated/postgres/movies.sql.go
  internal/database/generated/postgres/quality_profiles.sql.go
  internal/database/generated/postgres/querier.go
  internal/database/queries/mysql/movies.sql
  internal/database/queries/mysql/quality_profiles.sql
  internal/database/queries/postgres/movies.sql
  internal/database/queries/postgres/quality_profiles.sql
  sqlc.yaml
Owners: @radarr/maintainers, @radarr/go-team

fix: resolve integer overflow security issue in database connection pooling
  internal/database/database.go
Owners: @radarr/go-team

fix: resolve MariaDB compatibility issues in database migration
  migrations/mysql/001_complete_schema.up.sql
Owners: @radarr/database-team

fix: enable multi-statement support for MariaDB migrations
  internal/database/database.go
Owners: @radarr/go-team

fix: simplify MySQL migration to resolve CI failures
  internal/database/generated/mysql/models.go
  internal/database/generated/mysql/movies.sql.go
  internal/database/generated/mysql/quality_profiles.sql.go
  internal/database/generated/mysql/querier.go
  internal/database/generated/postgres/movies.sql.go
  internal/database/queries/mysql/movies.sql
  internal/database/queries/postgres/movies.sql
  migrations/mysql/001_complete_schema.down.sql
  migrations/mysql/001_complete_schema.down.sql.backup
  migrations/mysql/001_complete_schema.up.sql
  migrations/mysql/001_complete_schema.up.sql.backup
Owners: @radarr/go-team, @radarr/maintainers, @radarr/database-team

fix: remove backup migration files causing duplicate migration errors
  migrations/mysql/001_complete_schema.down.sql.backup
  migrations/mysql/001_complete_schema.up.sql.backup
Owners: @radarr/database-team

feat: add proper version information to builds
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
Owners: @radarr/devops-team, @radarr/maintainers

feat: implement GORM optimizations and Go best practices
  Makefile
  go.mod
  go.sum
  go.work.sum
  internal/api/doc.go
  internal/database/database.go
  internal/models/doc.go
  internal/models/movie.go
  internal/models/movie_example_test.go
  internal/models/quality.go
  internal/services/doc.go
  internal/services/movie_service.go
  internal/services/movie_service_bench_test.go
  internal/services/quality_example_test.go
Owners: @radarr/devops-team, @radarr/go-team, @radarr/maintainers

fix: update mapstructure to v2.4.0 to resolve security vulnerability GO-2025-3787
  go.mod
  go.sum
Owners: @radarr/go-team

feat: implement GORM optimizations and Go best practices
  .github/workflows/ci.yml
Owners: @radarr/devops-team

fix: update mapstructure to v2.4.0 to resolve security vulnerability GO-2025-3787
  .gitignore
  CLAUDE.md
  README.md
  go.work
Owners: @radarr/maintainers, @radarr/docs-team

fix: update CI to handle go.work.sum changes gracefully
  .github/workflows/ci.yml
  go.work
  go.work.sum
Owners: @radarr/devops-team, @radarr/maintainers

fix: force GitHub Actions to re-parse release workflow triggers
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix: temporarily remove release workflow to clear GitHub Actions cache
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix: restore release workflow with proper triggers
  .github/workflows/release.yml
Owners: @radarr/devops-team

Release workflow refactor
  .github/workflows/release.yml
Owners: @radarr/devops-team

docs: add comprehensive project implementation plan with agent prompts
  PROJECT_IMPLEMENTATION_PLAN.md
  PROJECT_IMPLEMENTATION_PLAN_WITH_PROMPTS.md
  PROJECT_ROADMAP.md
Owners: @radarr/docs-team

build: update dependencies and workspace configuration
  CLAUDE.md
  go.mod
  go.sum
  go.work.sum
Owners: @radarr/maintainers, @radarr/go-team

feat: add task model and database schema
  internal/models/task.go
  internal/services/interfaces.go
  migrations/mysql/002_tasks_schema.down.sql
  migrations/mysql/002_tasks_schema.up.sql
  migrations/postgres/002_tasks_schema.down.sql
  migrations/postgres/002_tasks_schema.up.sql
Owners: @radarr/go-team, @radarr/database-team

feat: enhance core services and API infrastructure
  internal/api/handlers.go
  internal/api/server.go
  internal/config/config.go
  internal/models/movie.go
  internal/services/container.go
  internal/services/movie_service.go
  internal/services/notification_service.go
  internal/services/task_handlers_test.go
  internal/services/test_helpers.go
Owners: @radarr/go-team, @radarr/config-team

feat: implement task service and handlers
  internal/models/file_operation.go
  internal/models/file_organization.go
  internal/services/file_operation_service.go
  internal/services/file_organization_service.go
  internal/services/import_service.go
  internal/services/media_info_service.go
  internal/services/naming_service.go
  internal/services/performance_monitor.go
  internal/services/rename_service.go
  internal/services/task_handlers.go
  internal/services/task_service.go
  internal/services/task_service_test.go
  migrations/mysql/003_file_organization.down.sql
  migrations/mysql/003_file_organization.up.sql
  migrations/postgres/003_file_organization.down.sql
  migrations/postgres/003_file_organization.up.sql
Owners: @radarr/go-team, @radarr/database-team

feat: enhance notification system with comprehensive providers
  HEALTH_MONITORING.md
  config.health.example.yaml
  internal/api/health_handlers.go
  internal/models/health.go
  internal/services/health_checkers.go
  internal/services/health_interfaces.go
  internal/services/health_issue_service.go
  internal/services/health_issue_service_test.go
  internal/services/health_service.go
  internal/services/health_service_test.go
  internal/services/health_task_handler.go
  internal/services/notification_service_test.go
  internal/services/notifications/factory.go
  internal/services/notifications/interfaces.go
  internal/services/notifications/template.go
  migrations/mysql/004_notification_enhancements.down.sql
  migrations/mysql/004_notification_enhancements.up.sql
  migrations/mysql/005_health_monitoring.down.sql
  migrations/mysql/005_health_monitoring.up.sql
  migrations/postgres/004_notification_enhancements.down.sql
  migrations/postgres/004_notification_enhancements.up.sql
  migrations/postgres/005_health_monitoring.down.sql
  migrations/postgres/005_health_monitoring.up.sql
Owners: @radarr/docs-team, @radarr/maintainers, @radarr/go-team, @radarr/database-team

feat: implement comprehensive calendar and scheduling system
  CALENDAR_SYSTEM.md
  internal/api/wanted_handlers.go
  internal/models/calendar.go
  internal/models/wanted.go
  internal/services/calendar_service.go
  internal/services/calendar_service_test.go
  internal/services/ical_service.go
  internal/services/ical_service_test.go
  internal/services/wanted_service.go
  internal/services/wanted_service_test.go
  migrations/mysql/006_calendar_system.down.sql
  migrations/mysql/006_calendar_system.up.sql
  migrations/mysql/007_wanted_movies.down.sql
  migrations/mysql/007_wanted_movies.up.sql
  migrations/postgres/006_calendar_system.down.sql
  migrations/postgres/006_calendar_system.up.sql
  migrations/postgres/007_wanted_movies.down.sql
  migrations/postgres/007_wanted_movies.up.sql
Owners: @radarr/docs-team, @radarr/go-team, @radarr/database-team

feat: implement collections and parsing functionality
  internal/api/collection_handlers.go
  internal/models/collection.go
  internal/models/parse.go
  internal/services/collection_service.go
  internal/services/collection_service_test.go
  internal/services/parse_service.go
  internal/services/parse_service_test.go
  migrations/mysql/008_collections_and_parse.down.sql
  migrations/mysql/008_collections_and_parse.up.sql
  migrations/postgres/008_collections_and_parse.down.sql
  migrations/postgres/008_collections_and_parse.up.sql
Owners: @radarr/go-team, @radarr/database-team

feat: add database management and monitoring utilities
  scripts/database-monitoring.sh
  scripts/database-operations.sh
Owners: @radarr/maintainers

fix: resolve CI linting failures and improve code quality
  internal/api/collection_handlers.go
  internal/api/handlers.go
  internal/api/health_handlers.go
  internal/api/wanted_handlers.go
  internal/models/calendar.go
  internal/models/health.go
  internal/services/calendar_service.go
  internal/services/file_organization_service.go
  internal/services/health_service.go
  internal/services/health_task_handler.go
  internal/services/import_service.go
  internal/services/notifications/factory.go
  internal/services/rename_service.go
  internal/services/task_service.go
  internal/services/wanted_service.go
Owners: @radarr/go-team

refactor: decompose long functions to meet funlen linter requirements
  internal/api/handlers.go
  internal/api/health_handlers.go
  internal/services/collection_service.go
  internal/services/collection_service_test.go
  internal/services/file_organization_service.go
  internal/services/health_issue_service.go
  internal/services/health_issue_service_test.go
  internal/services/health_service.go
  internal/services/import_service.go
  internal/services/naming_service.go
Owners: @radarr/go-team

fix: resolve all remaining linting violations for full CI compliance
  internal/api/wanted_handlers.go
  internal/services/health_checkers.go
  internal/services/notifications/factory.go
  internal/services/notifications/template.go
  internal/services/parse_service_test.go
  internal/services/task_handlers.go
  internal/services/task_service.go
  internal/services/task_service_test.go
  internal/services/wanted_service.go
  internal/services/wanted_service_test.go
Owners: @radarr/go-team

fix: resolve final linting violations for complete CI compliance
  internal/api/health_handlers.go
  internal/api/wanted_handlers.go
  internal/services/file_organization_service.go
  internal/services/importlist_service.go
  internal/services/notification_service.go
  internal/services/parse_service.go
  internal/services/wanted_service.go
Owners: @radarr/go-team

fix: resolve final linting violations for complete CI compliance
  internal/services/calendar_service.go
  internal/services/file_organization_service.go
  internal/services/health_service.go
Owners: @radarr/go-team

fix: resolve all remaining linting violations for complete CI compliance
  internal/api/collection_handlers.go
  internal/api/handlers.go
  internal/api/wanted_handlers.go
  internal/services/collection_service.go
  internal/services/container.go
  internal/services/file_organization_service.go
  internal/services/health_checkers.go
Owners: @radarr/go-team

fix: resolve remaining linting violations for complete CI compliance
  internal/services/file_organization_service.go
  internal/services/health_checkers.go
  internal/services/health_issue_service.go
  internal/services/health_service.go
Owners: @radarr/go-team

fix: resolve final linting violations for complete CI compliance
  internal/services/file_organization_service.go
  internal/services/health_task_handler.go
  internal/services/ical_service_test.go
  internal/services/import_service.go
  internal/services/movie_service.go
Owners: @radarr/go-team

fix: resolve final line length violations for CI compliance
  internal/services/parse_service.go
Owners: @radarr/go-team

refactor: achieve complete golangci-lint compliance with zero violations
  internal/api/handlers.go
  internal/api/wanted_handlers.go
  internal/models/file_operation.go
  internal/models/file_organization.go
  internal/models/health.go
  internal/models/task.go
  internal/services/calendar_service.go
  internal/services/file_organization_service.go
  internal/services/health_checkers.go
  internal/services/health_service.go
  internal/services/health_service_test.go
  internal/services/health_task_handler.go
  internal/services/ical_service.go
  internal/services/import_service.go
  internal/services/media_info_service.go
  internal/services/naming_service.go
  internal/services/notification_service.go
  internal/services/notifications/factory.go
  internal/services/notifications/template.go
  internal/services/parse_service.go
  internal/services/performance_monitor.go
  internal/services/rename_service.go
  internal/services/task_handlers.go
  internal/services/task_handlers_test.go
  internal/services/task_service.go
  internal/services/task_service_test.go
Owners: @radarr/go-team

fix: resolve final security violation for complete CI compliance
  internal/services/file_organization_service.go
Owners: @radarr/go-team

fix(ci): correct GitHub Actions conditional syntax in release workflow
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(ci): correct GitHub Actions conditional syntax in release workflow
  .github/workflows/release.yml
  DOCKER_HUB_SETUP.md
Owners: @radarr/devops-team, @radarr/docs-team
