Repository owine/radarr-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radarr/maintainers, @radarr/go-team, @radarr/database-team, @radarr/devops-team, @radarr/config-team, @radarr/security-team, @radarr/docs-team

config(renovate): configure docker-compose files without SHA pinning
  renovate.json
Owners: @radarr/security-team

fix(renovate): resolve overlapping Docker configuration rules
  renovate.json
Owners: @radarr/security-team

refactor(renovate): reorder Docker configuration rules for better organization
  renovate.json
Owners: @radarr/security-team

refactor(renovate): optimize configuration with proper rule ordering and conflict resolution
  renovate.json
Owners: @radarr/security-team

fix(renovate): add required match selector to security updates rule
  renovate.json
Owners: @radarr/security-team

fix(renovate): implement selective Docker digest pinning with clear rule separation
  renovate.json
Owners: @radarr/security-team

fix(renovate): disable digest pinning for all docker-compose updates
  renovate.json
Owners: @radarr/security-team

chore(deps): update Docker dependencies to latest versions
  docker-compose.dev.yml
  docker-compose.test.yml
  renovate.json
Owners: @radarr/maintainers, @radarr/security-team

chore(deps): update monitoring tools to latest major versions
  docker-compose.dev.yml
Owners: @radarr/maintainers

fix(renovate): add custom regex manager for Dockerfile ARG GO_VERSION pattern
  renovate.json
Owners: @radarr/security-team

chore(renovate): remove rate limiting constraints
  renovate.json
Owners: @radarr/security-team

refactor(docker): standardize Go version handling in Dockerfile.dev
  Dockerfile.dev
  renovate.json
Owners: @radarr/maintainers, @radarr/security-team

fix(migrations): resolve CI database migration failures
  migrations/mysql/001_complete_schema.up.sql
  migrations/mysql/010_complete_schema_refactor.down.sql.broken
  migrations/mysql/010_complete_schema_refactor.up.sql.broken
  migrations/postgres/010_complete_schema_refactor.down.sql.broken
  migrations/postgres/010_complete_schema_refactor.up.sql.broken
Owners: @radarr/database-team

fix(ci): add missing permissions for release workflow
  .github/workflows/release.yml
Owners: @radarr/devops-team

feat(docker): implement comprehensive Docker image tagging strategy
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Owners: @radarr/devops-team, @radarr/docs-team

fix(ci): resolve release integration test filename mismatch issues
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(ci): resolve bash syntax error in release workflow Docker tag generation
  .github/workflows/release.yml
Owners: @radarr/devops-team

fix(ci): resolve integration test database configuration issue
  .github/workflows/release.yml
Owners: @radarr/devops-team

refactor(ci): restructure release workflow to separate integration test and Docker publish
  .github/workflows/release.yml
Owners: @radarr/devops-team

ci: update GitHub Actions runners from -latest to ubuntu-24.04 [skip ci]
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Owners: @radarr/devops-team, @radarr/maintainers

feat: add comprehensive Docker release notes generation script [skip ci]
  .github/scripts/generate-release-notes.sh
Owners: @radarr/devops-team

style: format Docker Compose and configuration YAML files [skip ci]
  config.yaml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
Owners: @radarr/config-team, @radarr/maintainers, @radarr/devops-team

style: add YAML document markers to tool configurations [skip ci]
  .golangci.yml
  sqlc.yaml
Owners: @radarr/maintainers

feat: implement comprehensive versioning strategy and automation [skip ci]
  .github/scripts/generate-release-notes.sh
  .github/scripts/test-versioning-system.sh
  .github/scripts/validate-build-version.sh
  .github/scripts/validate-version-progression.sh
  .github/scripts/version-analyzer.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  DOCKER_CLEANUP.md
  MIGRATION.md
  README.md
  VERSIONING.md
  VERSIONING_AUTOMATION_SUMMARY.md
  cmd/radarr/main.go
  docs/API_COMPATIBILITY.md
  docs/INSTALLATION.md
  docs/PRODUCTION_DEPLOYMENT.md
  docs/SECURITY_HARDENING.md
Owners: @radarr/devops-team, @radarr/maintainers, @radarr/docs-team, @radarr/go-team

style: fix formatting and whitespace issues [skip ci]
  .github/scripts/test-versioning-system.sh
  .github/scripts/validate-build-version.sh
  .github/scripts/validate-version-progression.sh
  .github/scripts/version-analyzer.sh
  .github/workflows/ci.yml
  CLAUDE.md
  DOCKER_CLEANUP.md
  MIGRATION.md
  README.md
  VERSIONING.md
  VERSIONING_AUTOMATION_SUMMARY.md
  docs/INSTALLATION.md
Owners: @radarr/devops-team, @radarr/maintainers, @radarr/docs-team

fix(versioning): fix version progression validation script
  .github/scripts/validate-version-progression.sh
Owners: @radarr/devops-team

fix(scripts): fix sed quoting issue in release notes generation
  .github/scripts/generate-release-notes.sh
Owners: @radarr/devops-team

docs: clean up miscellaneous markdown files
  CALENDAR_SYSTEM.md
  CONVERSION_SUMMARY.md
  DEVELOPMENT.md
  DOCKER_CLEANUP.md
  DOCKER_HUB_SETUP.md
  HEALTH_MONITORING.md
  MIGRATION_FIXES_REPORT.md
  SECURITY_AUDIT_RESULTS.md
  SECURITY_CREDENTIALS.md
  VERSIONING_AUTOMATION_SUMMARY.md
  scripts/database/disaster_recovery.md
Owners: @radarr/docs-team

fix: resolve GitHub Actions version parsing issues in CI workflow
  .github/workflows/ci.yml
Owners: @radarr/devops-team

feat: optimize Docker builds to use pre-built artifacts
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile.artifacts
Owners: @radarr/devops-team, @radarr/maintainers

fix(release): implement missing Docker tags generation function
  .github/scripts/version-analyzer.sh
Owners: @radarr/devops-team

perf(ci): remove duplicative Go cache steps causing conflicts
  .github/workflows/ci.yml
Owners: @radarr/devops-team

perf(release): remove duplicative Go cache in release workflow
  .github/workflows/release.yml
Owners: @radarr/devops-team

test: implement comprehensive testing infrastructure with containerized database support
  TESTING.md
  internal/services/movie_service_bench_test.go
  internal/testhelpers/database_manager.go
  internal/testhelpers/examples_test.go
  internal/testhelpers/seed_data.go
  internal/testhelpers/test_utilities.go
  scripts/test-runner.sh
Owners: @radarr/docs-team, @radarr/go-team, @radarr/maintainers

dev: enhance development environment with monitoring and automation tools
  DEVELOPMENT.md
  Makefile
  scripts/dev-environment.sh
  scripts/dev-monitor.sh
  scripts/grafana-dashboard-radarr.json
Owners: @radarr/docs-team, @radarr/devops-team, @radarr/maintainers

docs: update core project documentation with Phase 0/1 implementation details
  CLAUDE.md
  FEATURE_DOCUMENTATION.md
  README.md
Owners: @radarr/maintainers, @radarr/docs-team

api: add comprehensive API documentation, examples, and interactive tools
  docs/API_COMPATIBILITY_MIGRATION_GUIDE.md
  docs/API_DOCUMENTATION_README.md
  docs/API_ENDPOINTS.md
  docs/DEVELOPER_INTEGRATION_EXAMPLES.md
  docs/openapi-complete.yaml
  docs/openapi.yaml
  web/static/openapi-complete.yaml
  web/static/swagger-ui.html
Owners: @radarr/docs-team, @radarr/maintainers

docs: add comprehensive user documentation and installation guides
  INSTALLATION.md
  docs/CHANGELOG.md
  docs/CONFIGURATION_REFERENCE.md
  docs/RELEASE_v0.9.0-alpha.md
Owners: @radarr/docs-team

project: update roadmap and implementation tracking for Phase 0/1 completion
  PROJECT_IMPLEMENTATION_PLAN_WITH_PROMPTS.md
  PROJECT_ROADMAP.md
Owners: @radarr/docs-team

docs(project): update roadmap with Phase 0/1 completion status
  PROJECT_IMPLEMENTATION_PLAN_WITH_PROMPTS.md
  PROJECT_ROADMAP.md
Owners: @radarr/docs-team

.github/CODEOWNERS:

# Global owners
* @radarr/maintainers

# Go code
*.go @radarr/go-team
go.mod @radarr/go-team
go.sum @radarr/go-team

# Database migrations
/migrations/ @radarr/database-team

# Docker
Dockerfile @radarr/devops-team
docker-compose.yml @radarr/devops-team
.dockerignore @radarr/devops-team

# CI/CD
/.github/ @radarr/devops-team
/Makefile @radarr/devops-team

# Configuration
/config.yaml @radarr/config-team
/internal/config/ @radarr/config-team

# Security
/internal/security/ @radarr/security-team
renovate.json @radarr/security-team

# Documentation
*.md @radarr/docs-team
CLAUDE.md @radarr/maintainers
